.header {
  display: flex;
  justify-content: space-between;
}

.languageselector {
  display: flex;
  justify-content: space-around;
  width: 14rem;
}

.language {
  position: relative;
  display: table;
  cursor: pointer;
  font-style: AlteHaasGroteskBold;
}

.language:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.3vw;
  margin-top: 0;
  background: #000;
  transform: scaleX(0);
  transition: none;
  transform-origin: left;
  margin-right: 0.15em;
}

.language:hover:after {
  transform: scaleX(1);
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.selected:after {
  transform: scaleX(1) !important;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
