@font-face {
  font-family: 'AHG Regular';
  src: url(../fonts/AlteHaasGroteskRegular.woff2) format(woff2),
  url(../fonts/AlteHaasGroteskRegular.woff) format(woff);
}

@font-face {
  font-family: 'AHG Bold';
  src: url(../fonts/AlteHaasGroteskBold.woff2) format(woff2),
  url(../fonts/AlteHaasGroteskBold.woff) format(woff);
}